// Import bootstrap styles
@import 'bootstrap';

// Typography Overrides
body {
  width: 100%;
  height: 100%;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $grey-dark;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px 0;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  font-size: 30px;
}

a,
a.active,
a:focus {
  color: $anchor-color;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    color: $anchor-color;
    border-bottom: 1px solid $anchor-color;
  }
}

.btn {
  text-transform: uppercase;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 3px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-default {
  color: $grey-dark;
  border-color: $grey-dark;

  &:hover {
    color: white;
    background-color: $grey-dark;
  }
}

.btn-white {
  color: white;
  border-color: white;

  &:hover {
    color: $anchor-color;
    background-color: white;
  }
}

// ============

// Styles

.header-email {
  color: $grey-dark;
  position: absolute;
  right: 25px;
  top: 25px;
  text-align: right;

  a, a:hover, a:visited {
    color: $grey-dark;
    display: block;
  }

  a:hover {
    border-bottom-color: $grey-dark;
  }

  .bul {
    display: none;
  }
}

.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px;
  font-size: 18px;
  z-index: 11;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .navigation {
    margin-top: 10px;
  }

  .navigation a {
    font-size: 18px;
    margin: 5px 0;
    display: inline-block;
    border-bottom: 1px solid transparent;
  }

  .toggle-nav {
    border: none !important;
  }

  .nav-close {
    font-size: 30px;
  }
}

body.no-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-overlay {
  background: rgba(0,0,0,0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 50px;
  z-index: 10;
}

.title-heading {
  font-size: 30px;
  margin-bottom: 0;
}

.title-subheading {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: normal;
}

.main-header {
  min-height: 500px;
  background: transparent url(../img/header.png) no-repeat 8% bottom;
  position: relative;
  z-index: 2;
  padding-top: 100px;
  padding-left: 8%;
  padding-bottom: 100px;

  .container {
    max-width: 90%;
    margin: inherit;
  }
}

.view-reel-shortcut a {
  color: $grey-dark;
  font-size: 3.5em;
  text-decoration: none !important;
  border-bottom: none !important;
}

.demoreel {
  height: 675px;
  background: transparent url(../img/reel.png) no-repeat center top;
  position: relative;
  z-index: 1;
  margin-top: -230px;
  color: white;
  padding-top: 335px;
  overflow: hidden;

  a.play-button {
    color: white;
    font-size: 50px;
    border: 3px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    line-height: 100px;
    text-align: center;
    margin: 80px auto 0;
    padding-left: 8px;
    background-color: rgba(255,255,255,0.1);

    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }

  .container {
    position: relative;
    z-index: 4;
  }

  .video-container,
  .reel-bg-video,
  .video-grid,
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .video-overlay {
    z-index: 3;
    background: transparent url(../img/video-overlay.png) no-repeat center top;
    top: -3px;
  }

  .video-grid {
    z-index: 2;
    background: rgba(74,74,74,0.8) url(../img/dotgrid.png) repeat center center;
  }
}

.reel-video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  z-index: 11;
  color: white;

  iframe {
    display: block;
    margin: auto;
    background: black;
  }

  .close-reel {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    border: none !important;
  }
}

.breakdown {
  min-height: 600px;
  background: $grey;
  position: relative;
  z-index: 1;
  padding-top: 80px;
}

.breakdown-container {
  margin: 60px 0 300px 0;

  .bd-item {
    position: relative;
    padding: 20px;

    a {
      width: 100%;
      height: 188px;
      background: $grey-dark;
      display: block;
      color: white;
      position: relative;
      overflow: hidden;
    }

    a img {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      border: none;
    }

    a span {
      position: absolute;
      transition: all 0.3s ease;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      color: white;
      display: block;
      opacity: 0;
      padding-top: 80px;
      background: rgba(255,255,255, 0.2);
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
    }

    a:hover span {
      opacity: 1;
    }
  }
}

.download {
  min-height: 700px;
  background: transparent url(../img/download.png) no-repeat center top;
  position: relative;
  z-index: 2;
  margin-top: -300px;
  padding-bottom: 100px;

  .download-head {
    width: 100%;
    height: 195px;
    background: transparent url(../img/download-head.png) no-repeat 90%;
    position: absolute;
    margin-top: -40px;
  }

  h2 {
    padding-top: 270px;
  }
}

.download-icons {
  .download-icon .icon:first-child {
    display: block;
    font-size: 60px;
    color: $grey-dark;
    width: 120px;
    height: 120px;
    margin: 20px auto 30px;
    border: 2px solid $grey-dark;
    border-radius: 50%;
    line-height: 120px;
  }

  h4 {
    margin: 10px;
  }
}

.main-footer {
  min-height: 400px;
  background: transparent url(../img/footer.png) no-repeat center top;
  position: relative;
  z-index: 2;
  margin-top: -60px;
  padding-top: 130px;
  color: white;

  a {
    &.a-link {
      color: white;
      font-size: 18px;
    }

    &.btn .fa {
      padding-right: 15px;
    }
  }

  .btn {
    display: block;
    margin-bottom: 20px;
  }

  p {
    margin: 30px 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
  .main-header {
    background: transparent url(../img/header.png) no-repeat 56% bottom;
    min-height: 720px;
    padding-top: 135px;
    padding-left: 12%;

    .container {
      width: 60%;
    }
  }

  .header-email {
    a, a:hover, a:visited {
      display: inline;
    }

    .bul {
      display: inline;
    }
  }

  .title-heading {
    font-size: 2.6em;
  }

  .title-subheading {
    font-size: 1.2em;
  }

  .view-reel-shortcut a {
    font-size: 4.5em;
  }

  .demoreel {
    margin-top: -330px;
  }

  .main-footer {
    .btn:last-child {
      margin-right: 0;
    }
    .btn {
      display: inline-block;
      margin-right: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .main-header {
    background: transparent url(../img/header.png) no-repeat center 35px;;
    font-size: 18px;

    .container {
      width: 58%;
    }
  }

  .title-heading {
    font-size: 3em;
  }

  .title-subheading {
    font-size: 1.4em;
  }

  .view-reel-shortcut a {
    font-size: 5em;
  }

  h2 {
    font-size: 40px;
  }

  .download {
    margin-top: -250px;

    .download-head {
      margin-top: -10px;
    }
  }

  .navigation-container {
    font-size: 24px;
  }
}

@media (min-width: 1600px) {
  .main-header {
    padding-top: 120px;
    padding-left: 16%;
    min-height: 760px;
  }

  .demoreel {
    margin-top: -400px;
    padding-top: 380px;
    height: 730px;
  }

  .navigation-container {
    font-size: 24px;

    .navigation a {
      font-size: 24px;
    }
  }

  .download {
    margin-top: -250px;

    .download-head {
      margin-top: -10px;
    }
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
